.section {
  background-color: rgb(243, 243, 241);
  min-height: 100vh;
  padding: 128px 0;
}

.box {
  display: flex;
  width: 90%;
  margin: auto;
}

.h2 {
  font-family: 'Arial Black', Arial, sans-serif;
  font-size: 56px;
  font-weight: 820;
  letter-spacing: -0.04em;
  line-height: 1.05;
  text-align: left;
  /* TESTINGAL -> Set these colors in variables */
  color: rgb(30, 35, 48);
}

.p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 418;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-align: left;
  color: rgb(30, 35, 48);
  margin-top: 24px;
}

.element1 {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.element2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.getStartedButtonContainer {
  margin-top: 48px;
}

.getStartedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 212px;
  height: 62px;
  background-color: rgb(233, 192, 233);
  font-size: 18px;
  color: rgb(30, 35, 48);
  border-radius: 31px;
}

.getStartedButton:hover {
  cursor: pointer;
  background-color: rgb(225, 186, 225);
}
