.main {
}

.h1 {
  font-family: 'Arial Black', Arial, sans-serif;
  font-size: 88px;
  font-weight: 820;
  letter-spacing: -0.04em;
  line-height: 1.05;
  text-align: left;
  color: rgb(210, 232, 35);
  padding-bottom: 25px;
}

.p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 418;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-align: left;
  color: rgb(210, 232, 35);
  padding-bottom: 35px;
}

.section1 {
  background-color: rgb(37, 79, 26);
  height: 110vh;
}

.element1 {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.element2 {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  background-color: rgb(233, 192, 233);
  height: 110vh;
}

.section3 {
  background-color: rgb(120, 0, 22);
  height: 110vh;
}

.section4 {
  background-color: rgb(243, 243, 241);
  height: 110vh;
}
