.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.element1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url('../../public/baldufa.png');
  background-size: cover;
  border-radius: 15px;
}

.element2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url('../../public/mei.png');
  background-size: cover;
  border-radius: 15px;
}

.element3 {
  position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: rgb(250, 162, 227); */
  border-radius: 15px;
  bottom: 10px;
  right: -45px;
  font-size: 50px;
}
