.stickyElement {
  z-index: 4;
  background-color: transparent;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;

  padding: 48px 96px 0;
}

.stickyInner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  max-width: 1400px;
  background-color: rgb(255, 255, 255);
  border-radius: 1000px;
}
